<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>992057371616-aoc9pp8dcd9c371dogsuuumllj45ohlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992057371616-aoc9pp8dcd9c371dogsuuumllj45ohlk</string>
	<key>API_KEY</key>
	<string>AIzaSyCxtZTOFFsO5FXa-yBGr-subuXPU1k8cqw</string>
	<key>GCM_SENDER_ID</key>
	<string>992057371616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stts.titipanku</string>
	<key>PROJECT_ID</key>
	<string>titipanku-d366a</string>
	<key>STORAGE_BUCKET</key>
	<string>titipanku-d366a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992057371616:ios:c79e5afb49674162</string>
	<key>DATABASE_URL</key>
	<string>https://titipanku-d366a.firebaseio.com</string>
</dict>
</plist>